<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
  </appSettings>



  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-01FAHI9;Initial Catalog=Client LMS;Integrated Security=True"
      providerName="system.data.sqlclient" />
    <add name="Client LMSConnectionString" connectionString="Data Source=DESKTOP-01FAHI9;Initial Catalog=&quot;Client LMS&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Client LMSConnectionString2" connectionString="Data Source=DESKTOP-01FAHI9;Initial Catalog=&quot;Client LMS&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

	<system.net>
		<mailSettings>
			<smtp from="tcs2021mar@gmial.com">
				<network host="smtp.gmail.com" port="587" userName="tcs2021mar@gmail.com" password="Kalpesh@123" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>
